body {
  margin: 0;
  padding: 0;
  background: rgb(240, 239, 239);
  font-family: "Poppins", sans-serif;
}

h1 {
  margin: 0;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

.box {
  background: #fff;
  width: 800px;
  padding: 48px;
  margin: 16px auto;
  border-radius: 8px;
}

.header {
  display: grid;
  grid-template-columns: 40% 60%;
}

.header-left {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 28px;
}

.first-name {
  font-weight: 200;
  margin: 0;
}

.header-right {
  width: 100%;
  display: grid;
  justify-items: end;
}

.header-right p {
  display: inline-block;
}

.grey {
  background: rgb(133, 133, 133);
  color: #fff;
  padding: 1px;
  border-radius: 5px;
}

.icon {
  color: rgb(223, 223, 223);
  font-size: 24px;
  margin-right: 8px;
}

table {
  border: 2px solid #000;
  margin: 16px 0 16px 0;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #000;
  padding: 7px;
}
